
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_AdminPanel.cshtml";
}
    <div class="col-xl-9 col-lg-8 col-md-7 p-2">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>

     </div>