@model VisitOnline.Models.DoctorViewModel
@{
    ViewData["Title"] = "CompleteInformation";
    Layout = "~/Views/Shared/_PanelDoctorLayout.cshtml";
}

<div class="col-xl-9 col-lg-8 col-md-7 p-2">
    <div class="card border-0 rounded-custom-2 shadow-sm p-3 h-100">
        <div class="col-sm-12 p-2">
            <p class="h2 ismb text-b d-flex align-items-center justify-content-between">
                تکمیل اطلاعات
                <i class="bi bi-pen"></i>
            </p>
            <hr class="my-2">
        </div>
        <div class="py-3">
            <div class="col-xxl-10 m-auto p-1">
                <form asp-action="CompleteInformation" class="m-0">
                    <div class="row w-100 m-0">
                        <div class="col-12 px-2 pb-4">
                            <div class="pro-photo">
                                <div class="small-12 medium-2 large-2 columns max-content mx-auto position-relative">
                                    <div class="circle mx-auto">
                                        <img class="profile-pic rounded-circle" src="img/person.png">
                                    </div>
                                    <div class="p-image">
                                        <i class="bi bi-camera upload-button"></i>
                                        <input class="file-upload" type="file" accept="image/*" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-6 p-2">
                            <div class="">
                                <label for="input1" class="form-label">
                                    نام و نام خانوادگی
                                </label>
                                <input type="text" asp-for="NameFamily" class="form-control rounded-custom-2 text-start" id="input1" value="@Model.NameFamily" placeholder="نام و نام خانوادگی خود را بنویسید">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-6 p-2">
                            <div class="">
                                <label for="input2" class="form-label">
                                    کد ملی
                                </label>
                                <input type="number" asp-for="MeliCode" class="form-control rounded-custom-2 text-start" id="input12" placeholder="کد ملی ۱۰ رقمی خود را بنویسید">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-6 p-2">
                            <div class="">
                                <label for="input2" class="form-label">
                                    شماره همراه
                                </label>
                                <input type="tel" asp-for="Mobile" class="form-control rounded-custom-2 text-start" id="input12" disabled>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-6 p-2">

                            <select class="form-select" size="10" asp-for="Takhasos" aria-label="تخصص خود را وارد کنید">
                                <option selected>تخصص</option>
                                <option value="ارتوپد">ارتوپد </option>
                                <option value="قلب عروق">قلب عروق</option>
                                <option value="مغز اعصاب">مغز اعصاب</option>
                                <option value="بیماری های عفونی">بیماری های عفونی</option>
                                <option value="پوست و مو">پوست و مو</option>
                                <option value="چشم">چشم</option>
                                <option value="گوش و حلق و بینی">گوش و حلق و بینی</option>
                                <option value="گوارش">گوارش</option>
                                <option value="تغذیه">تغذیه</option>
                            </select>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-6 p-2">
                            <div class="">
                                <label for="input2" class="form-label">
                                    شماره نظام پزشکی
                                </label>
                                <input type="number" asp-for="SNP" class="form-control rounded-custom-2 text-start" id="input12" placeholder="تخصص خود را بنویسید">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-6 p-2">
                            <div class="">
                                <label for="input2" class="form-label">
                                    آپلود جواز پزشکی
                                </label>
                                <input type="file" asp-for="province" class="form-control rounded-custom-2" id="inputGroupFile01">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-6 ms-auto p-2">
                            <button type="submit" class="btn btn-success w-100 rounded-custom-2">
                                ثبت اطلاعات
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
